<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="hibernate.connection.password">xxx</property>
	<property name="hibernate.connection.url">jdbc:mysql://xxx/xxx</property>
	<property name="hibernate.connection.username">xxx</property>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

	<!-- ustawienia, ktore wypisza wygenerowanego sql-a do konsoli -->
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">true</property>

	<!-- tutaj mowimy hibernetowi, ze klasa Book jest encja z adnotacjami -->
    <mapping class="pl.sda.exercise.hibernate.model.Book"></mapping>

</session-factory>

</hibernate-configuration>